<style>   
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    </style>
    
    
                <!-- Footer -->
                <img src="../v&v.jpg" width="250" height="70" class="center">
            <div class="text-center">
                <footer> Copyright &copy; 2023 the Bookers </footer>
                <p>Paulie Jo, Jared, Ali, Michel, Jonathan</p>
            </div>
                <!-- /Footer -->
    