<h1>ADMIN PAGE</h1>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travel Booking Form</title>
  </head>
  <body>
    <h1>Travel Booking Form</h1>
    <form method="post" action="/adminhome">
      <label for="destination">Add a New Destination:</label>
      <input type="text" name="destination" autocomplete="off" required>
      <button type="submit">Submit</button>
      <br> <br>

      <a href="/manageflights" class="btn btn-primary">Go back to main menu</a>
      <br><br>
   

    </form>
  </body>
</html>
