<<<<<<< HEAD
<h1>Your flight is reserved. You can proceed to select seats</h1>


<a href="/manageclientflights" class="button">Go Back to Main Menu</a>
=======
<head>
        <meta charset="utf-8">
        <title>Travel Booking Form</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
        <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    
        <!-- Font Awesome JS -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>
<body>
    <section class="vh-100" style="background-color: #00d0ff;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5"  >
                        <div class="card shadow-2-strong" style="border-radius: 1rem;" >
                            <div class="card-body p-5 text-center" >
                                    <h1>Your flight is booked</h1>
                                    <a href="/manageclientflights" class="button">Book a New Flight</a>
                                    
                                <%- include ('partials/footer') %>
        
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</body>
>>>>>>> 2932e48ceca26591cbcc471b1951b68b92fe5e99
