<!DOCTYPE html>
<html>
<head>
  <title> Book your Flight</title>
</head>
<body>
  <h1>Book your Flight</h1>
  <!-- <ul>
    <% destinations.forEach(destination => { %>
      <li><%= destination.destination %> </li>
    <% }) %>
  </ul> -->


      <form method="post" action="/">

        <label for="name">Name:</label>
        <input type="text" name="name" autocomplete="off" required>
        <br><br>
        <label for="email">Email:</label>
        <input type="email" name="email" autocomplete="off" required>
        <br><br>
        <label for="phone">Phone:</label>
        <input type="tel" name="phone" autocomplete="off" required>
        <br><br>
        <!-- <label for="origin">Origin:</label>
        <input type="text" name="origin" autocomplete="off" required>
         -->
         <label for="origin">Origin:</label>
         <select id="origin" name="origin" autocomplete="off" required>
           <option value="">Select Origin</option>
           <option value="El Paso">El Paso</option>
           <option value="New York">New York</option>
           <option value="Los Angeles">Los Angeles</option>
           <option value="Orlando">Orlando</option>
           <option value="Las Vegas">Las Vegas</option>
           <option value="San Francisco">San Francisco</option>
           <option value="Washington">Washington</option>
           <option value="Boston">Boston</option>
           <option value="Seattle">Seattle</option>
         </select>
         <br> <br>
        <label for="destinations">Select a destination:</label>
        <select name="destinations" id="destinations">
          <% destinations.forEach((destination) => { %>
            <option value="<%= destination.destination %>"><%= destination.destination %></option>
          <% }); %>
        </select>
        <br><br>
        <label for="departure">Departure:</label>
        <input type="date" name="departure" autocomplete="off" required>
        <br><br>
        <label for="returnDate">Return Date:</label>
        <input type="date" name="returnDate" autocomplete="off" required>
        <br><br>
        <label for="seatSelection">Seat Selection:</label>
        <select id="seatSelection" name="seatSelection" autocomplete="off" required>
          <option value="">Select a Seat</option>
          <option value="A1">A1</option>
          <option value="A2">A2</option>
          <option value="A3">A3</option>
          <option value="B1">B1</option>
          <option value="B2">B2</option>
          <option value="B3">B3</option>
          <option value="C1">C1</option>
          <option value="C2">C2</option>
          <option value="C3">C3</option>
        </select>
        <br><br>
  
        <button type="submit">Submit</button>
      </form>

</body>
</html>